* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.25s;
    color: #E8F6EF;
    font-family: sans-serif;
}

:root {
    --error-color: #f87171;
    --background-color: #171717;
    --box-color: #212121;
    --primary-color: #121212;
    --specical-color: #1746A2;
    --text-color: #eeeeee;
    --placeholder-color: #6c6c6c;
    --dsc-color: #777;
    /* --hover-color: ; */
}

::placeholder {
    colro: var(--placeholder-color);
}