* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #E8F6EF;
    font-family: sans-serif;
}

:root {
    --error-color: #f87171;
    --background-color: #171717;
    --box-color: #212121;
    --primary-color: #121212;
    --specical-color: #1746A2;
    --text-color: #eeeeee;
    --placeholder-color: #6c6c6c;
    --dsc-color: #777;
    --input-color: #b6b3ae;
}

::placeholder {
    color: var(--placeholder-color);
}

@media (max-width: 600px) {
    #formReg {
        min-width: unset !important;
    }
}