#content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--background-color);
}

#formReg {
    text-align: center;
    background-color: var(--box-color);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 12px rgb(255, 255, 255, 0.01);
    min-width: 500px;
}

.heading {
    background-color: var(--primary-color);    
    width: 100%;
    padding: 12px;
}

.form-group {
    padding: 6px 12px;
    margin-top: 24px;
}

.form-group.invalid .form-input {
    border: solid var(--error-color) 3px;
    outline: none;
}

.form-group.form-group.invalid .form-msg {
    display: unset;
}

.form-group:last-child {
    margin-top: 24px;
    margin-bottom: 6px;
}

.form-label {
    float: left;
    margin-bottom: 8px;
    margin-left: 5px;
    color: var(--input-color);
}

.form-input {
    padding: 12px;
    width: 100%;
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    border-radius: 12px;
}

.form-input:focus {
    outline: 3px solid var(--text-color);
    transition: none;
}

.form-msg {
    float: left;
    margin-left: 5px;
    font-size: 10px;
    margin: 6px;
    color: var(--error-color);
    font-weight: 100;
    display: none;
}

.form-submit {
    width: 100%;
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 12px;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: 0.25s;
}

.form-submit:hover {
    background-color: var(--specical-color);
}