* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.25s;
    color: var(--text-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

:root {
    --error-color: #f87171;
    --background-color: #171717;
    --box-color: #212121;
    --primary-color: #121212;
    --special-color: #1746A2;
    --text-color: #eeeeee;
    --placeholder-color: #6c6c6c;
    --dsc-color: #777;
    --input-color: #b6b3ae;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 700px) {
    .content {
        grid-template-columns: 1fr !important;
    }

    .card.card-1 , .card.card-3 {
        display: none !important;
    }
}

@keyframes card1SlideRight {
    100% {
        opacity: 1;
        max-width: 300px;
        user-select: unset;
        transform: translateX(calc(100vw / 3));
    }
}

@keyframes card1SlideLeft {
    100% {
        transform: translateX(-100vw);
    }
}

@keyframes card3SlideRight {
    100% {
        transform: translateX(100vw);
    }
}

@keyframes card3SlideLeft {
    100% {
        opacity: 1;
        max-width: 300px;
        user-select: unset;
        transform: translateX(calc(-100vw / 3));
    }
}

@keyframes card2SlideRight {
    100% {
        opacity: 0.3;
        max-width: 250px;
        user-select: none;
        transform: translateX(calc(100vw / 3));
    }
}

@keyframes card2SlideLeft {
    100% {
        opacity: 0.3;
        max-width: 250px;
        user-select: none;
        transform: translateX(calc(-100vw / 3));
    }
}