@font-face {
    font-family: linotte;
    src: url(../fonts/Linotte\ Regular.ttf);
}

@font-face {
    font-family: linotte;
    src: url(../fonts/Linotte\ Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: linotte;
    src: url(../fonts/Linotte\ Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: linotte;
    src: url(../fonts/Linotte\ Semi\ Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: linotte;
    src: url(../fonts/Linotte\ Heavy.ttf);
    font-weight: 800;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: 0.25s;
    color: var(--text-color);
    font-family: 'linotte';
    font-weight: bold;
}

:root {
    --error-color: #ff8584;
    --box-color: #292d36;
    --background-color: #22252d;
    --primary-color: #272b33;
    --special-color: #26dbbb;
    --text-color: #eeeeee;
    --placeholder-color: #6c6c6c;
    --dsc-color: #777;
    --input-color: #b6b3ae;
}

html {
}

body {
    /* background-color: var(--background-color); */
    background-color: #f0eff0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.color-sp1 {
    color: var(--special-color);
}

.color-sp2, .operator {
    color: var(--error-color);
}

@media screen and (max-width: 400px) {
    .calc {
        transform: scale(0.9);
    }
}

@media screen and (max-height: 768px) {
    .calc {
        transform: scale(0.8);
    }
}