.calc {
    background-color: var(--background-color);
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.calc-display {
    padding-top: 175px;
    border-radius: 12px;
    position: relative;
}

.calc-operation {
    --pad-size: 24px;
    position: absolute;
    /* bottom: var(--pad-size); */
    bottom: 0;
    right: var(--pad-size);
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 90%;
}

.calc-operation-item {
    flex-basis: 100%;
}

.calc-operator {
    font-size: 24px;
    vertical-align: middle;
}

.calc-result {
    font-size: 48px;
}

.calc-button-wrap {
    background-color: var(--box-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 24px;
    padding: 24px;
    overflow: hidden;
    border-radius: 24px;
}

.calc-button {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 18px;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

.calc-button:hover {
    transform: scale(1.1);
}

.calc-icon {
    color: inherit;
}

.calc-icon.dot {
    font-size: 6px;
}