.calc {
    background-color: var(--background-color);
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.calc-display {
    height: 175px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
}

.calc-operation {
    position: absolute;
    /* bottom: var(--pad-size); */
    bottom: 0;
    right: var(--padding-size);
    text-align: right;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-content: space-evenly;
    height: 100%;
    width: calc(100% - (var(--padding-size) * 2));
}

.calc-operation-item {
    flex-basis: 100%;
}

.calc-operation.editing .calc-operator {
    display: none;
}

.calc-operator {
    font-size: 28px;
    vertical-align: middle;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    letter-spacing: 4px;
}

.calc-operator .operator .icon {
    font-size: 18px;
}

.calc-result {
    font-size: 48px;
    max-width: calc(100% - (var(--padding-size) * 2));
    overflow: hidden;
    text-overflow: ellipsis;
}

.calc-operation.editing .calc-result {
    border-radius: 12px;
    border: none;
    background-color: var(--box-color);
    padding: 32px;
    min-width: 100%;
    height: calc(100% - (var(--padding-size) * 2));
    text-align: right;
    overflow: hidden;
    vertical-align: middle;
    white-space: nowrap;
}

.calc-operation.editing .calc-result:focus {
    outline: none;
}

.calc-operation.editing .calc-result img {
    border-radius: 12px;
    margin: 0 3px;
}

.calc-button-wrap {
    background-color: var(--box-color);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 24px;
    padding: var(--padding-size);
    overflow: hidden;
    border-radius: 24px;
}

.calc-button {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding: 18px;
    user-select: none;
    cursor: pointer;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    font-size: 24px;
}

.calc-button:hover {
    transform: scale(1.1);
}

.calc-icon {
    color: inherit;
}

.calc-icon.dot {
    font-size: 6px;
}