* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: 0.1s;
    font-family: 'FiraCode Nerd Font',sans-serif;
}

#content {
    background-color: #edf6f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
 }

@keyframes toast {
    0% {
        transform: translateX(500px);
        opacity: 0;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}